<h1>Editando a Task: {{task.title}}</h1>
<form action="/tasks/edit" method="post">
  <input type="hidden" name="id" value="{{task.id}}" />
  <div class="form-control">
    <label for="title"> Título:</label>
    <input
      type="text"
      name="title"
      placeholder="O que você vai fazer?"
      value="{{task.title}}"
    />
  </div>
  <div class="form-control">
    <label for="descripition"> Descrição:</label>
    <textarea
      name="descripition"
      placeholder="Descreva a tarefa..."
    >{{task.descripition}}</textarea>
  </div>
  <input type="submit" value="editar" />
</form>